<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>店舗在庫登録</title>
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body>
    <div class="user-info-bar right">
      <span class="user-info-name">新宿店 name さんでログイン中</span>
    </div>
    <div class="container">
      <div class="smstock-box">
        <form
          class="stock-form"
          th:action="@{/shop/registerStock}"
          method="post"
          th:object="${stockAddForm}"
        >
          <h2 class="stock-form-title">店舗在庫登録</h2>

          <div class="form-group">
            <label for="productId">商品ID</label>
            <select
              id="productId"
              name="productId"
              th:field="*{productId}"
              required
              class="smstockadd-select"
            >
              <option value="">選択してください</option>
              <option value="101">101</option>
              <option value="102">102</option>
              <option value="103">103</option>
              <option value="104">104</option>
              <option value="105">105</option>
            </select>
          </div>

          <div class="form-group">
            <label for="productName">商品名</label>
            <label for="productNameTitle" th:text="*{productName}"
              >メロンソーダ</label
            >
          </div>

          <div class="form-group">
            <label for="price">販売価格</label>
            <input
              type="number"
              id="price"
              name="price"
              th:field="*{price}"
              min="0"
              required
            />
          </div>

          <div class="form-group">
            <label for="stock">在庫数</label>
            <input
              type="number"
              id="stock"
              name="stock"
              th:field="*{stock}"
              min="0"
              required
            />
          </div>

          <div class="productlist-buttons button-row-split">
            <button
              class="back-btn"
              onclick="location.href='shopMenu.html'; return false;"
            >
              キャンセル
            </button>
            <button class="order-btn primary" type="submit">登録</button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
